<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Bcrypt Calculator</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div id="app" class="container">
    <div class="row">
      <div class="col-sm-8">
        <h3 class="text-center">Bcrypt Calculator</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <!--form class="form-signin" action="/api/hash" method="post"-->
        <form class="clearfix">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <h4 class="form-signin-heading">Hash password</h2>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-9">
              <label for="inputPassword" class="col-form-label">Password</label>
              <input v-model="hash.password" id="inputPassword" type="text" name="password1" class="form-control" required>
            </div>
            <div class="form-group col-md-3">
              <label for="inputSalt" class="col-form-label">Salt</label>
              <select v-model="hash.saltRound" name="saltRounds" id="inputSalt" class="form-control">
                <option v-for="round in saltRounds" :value="round.value">{{ round.value }}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label class="col-form-lanel">Result:</label>
              <p class="result form-control">{{ hash.hash }}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-4">
              <button v-on:click.prevent="generateHash()" class="btn btn-info btn-block" type="submit" value="Submit">Generate Hash</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <!-- Check password against hash -->
        <!--
          text input for password
          text input for hash
          button to execute comparison
          paragraph to display result (match or no match)
        -->
        <form class="clearfix">
          <div class="form-row">
            <div class="form-group col-sm-12">
              <h4 class="form-signin-heading">Check password against hash</h2>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="inputPassword2" class="form-signin-heading">Password</label>
              <input v-model="hash2.password" id="inputPassword2" type="text" name="password2" class="form-control"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="inputHash" class="form-signin-heading">Hash</label>
              <input v-model="hash2.hash" id="inputHash" type="text" name="hash" class="form-control"/>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-12">
              <label class="col-form-lanel">Result:</label>
              <p class="form-control">{{ result ? 'Match' : 'No Match' }}</p>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-sm-4">
              <button v-on:click.prevent="postComparison()" class="btn btn-info btn-block" type="submit" value="Submit">Compare</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Axios, Vue CDNs -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="js/app.js"></script>

  </body>
</html>
